In [1]:
# Step 1 : Import Libraries
import pandas as pd

In [2]:
# Step 2 : Import Dataset
fish =pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [3]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [4]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [5]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [6]:
# Step 3 : Define target as 'y' and features as 'x'

In [7]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [9]:
y = fish['Weight']

In [10]:
X =fish[['Category', 'Width', 'Length1',
       'Length2', 'Length3']]

In [12]:
# Step 4 : Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test ,y_train, y_test = train_test_split(X, y, test_size=0.7,random_state=2529)

In [13]:
# Check Shape of train and test sample
X_train.shape,X_test.shape ,y_train.shape ,y_test.shape

((47, 5), (112, 5), (47,), (112,))

In [14]:
# Step 5 : Select Model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [15]:
# Step 6 : Train or fit model
model.fit(X_train, y_train)

LinearRegression()

In [16]:
model.intercept_

-539.0969462376381

In [17]:
model.coef_

array([ 5.48997557, 21.05702356,  3.43187369, 14.71222264, 10.30269617])

In [18]:
# Step 7 : Predict Model
y_pred = model.predict(X_test)

In [19]:
y_pred

array([ 4.61912773e+02,  5.29325390e+02,  1.05061945e+02,  9.12171149e+02,
        2.02326762e+02,  2.77938729e+02,  3.48763640e+02,  3.58158811e+02,
        4.15034687e+02, -1.50011688e+02, -1.30309586e+02,  4.40186641e+02,
        1.95915521e+02,  7.57056195e+02,  6.45750396e+02,  3.02088431e+02,
        5.38839729e+02,  2.19029296e+02,  6.77385595e+02,  8.82760340e+01,
        9.23669535e+01, -4.52725512e+01,  6.78985306e+02,  7.60733375e+02,
        7.38738604e+02, -1.73422595e+02,  3.87160096e+02,  6.67710517e+02,
        3.47796694e+02,  7.29349987e+02,  4.93254468e+02,  4.96690786e+02,
        5.68865941e+02,  6.52281473e+02, -1.71852447e+02,  8.72558780e+02,
        7.82842795e+02, -3.16398597e+01,  3.09787118e+02,  8.13224498e+02,
        6.37836058e+02,  9.05811366e+02,  5.91319762e+02,  6.60231149e+02,
        5.41618868e+02,  3.28779521e+02,  5.00374005e+02, -5.03415155e+01,
        6.39297053e+02,  3.69363503e+02, -4.65333754e+01,  8.86676273e+02,
       -1.96732429e+02,  8.32984257e+02,  8.05199026e+02,  5.29533064e+02,
        6.79425653e+02,  1.50412104e+02,  1.86018720e+02,  7.80600380e+02,
        2.07436865e+02,  3.97851853e+01,  6.25744492e+02, -1.31774366e+02,
        3.58158811e+02,  1.86018720e+02,  5.84961122e+02,  8.12918043e+02,
        1.60572554e+02,  6.37667518e+02,  8.33257715e+02,  5.98259837e+02,
        2.25973921e+02,  2.74503991e+02,  9.83498187e+02,  2.94357464e+02,
        4.22265654e+02,  7.77941705e+02,  9.00686297e+02,  5.71084004e+02,
        1.50024423e+02,  4.42390567e+02,  1.70920997e+02,  4.85076949e+01,
        7.86811463e+02,  6.59032378e+02,  6.96919149e+02,  3.13433074e+02,
        2.32900314e+02,  1.58203639e+02,  2.30833712e+02,  2.29374570e+02,
       -1.04751910e+02,  3.63027195e+02,  4.90637873e+02,  6.55441177e+01,
       -1.55940111e+02,  1.37682523e+02,  2.49229412e+02,  3.99650054e+02,
        5.62323019e+02,  2.59664414e+02,  4.66100069e+02,  5.30223195e+02,
        7.03647419e+02,  1.83544520e+02, -2.30046732e+01,  1.34652815e+03,
        6.77964919e+02, -1.90870121e-01, -3.85300030e+01,  6.05314768e+02])

In [20]:
# Step 8 : Model Accuracy
from sklearn.metrics import mean_absolute_error, r2_score

In [21]:
mean_absolute_error(y_test,y_pred)

109.4118184357612

In [22]:

r2_score(y_test,y_pred)

0.8249853860929959